[submodule "lib/lager"]
	path = lib/lager
	url = https://github.com/arximboldi/lager
[submodule "lib/zug"]
	path = lib/zug
	url = https://github.com/arximboldi/zug
[submodule "lib/immer"]
	path = lib/immer
	url = https://github.com/arximboldi/immer
